.WorkspaceList {
    display: grid;
    .Workspace {
        height: 15em;
        border: solid black 1px;
        margin: 1em;
        padding: 1em;
    }
    @media (min-width: 800px) {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
    }
}